<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add new post</title>
  </head>
  <body>
    <h1>Add a new post</h1>
    <form action="/posts" method="post">
      <p><label for="name">Name: </label><input type="text" name="name" value="Enter post name" id="name" /></p>
      <p><label for="content" style="vertical-align: top;">Content: </label><textarea name="content" value="Enter post content" id="content" rows=8 cols=40></textarea></p>
      <input type="submit" value="Submit" id="submit">
    </form>
  </body>
</html>
